@{
    ViewData["Title"] = "Corea Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="welcome mt-35 pt-35">
        <h1>Bem-vindos ao Corea Food</h1>
        <p>Bem-vindo ao nosso site de comidas coreanas! Oferecemos uma seleção cuidadosa dos melhores produtos e pratos coreanos, trazendo sabores autênticos diretamente da Coreia para o Brasil. Trabalhamos com fornecedores de confiança para garantir que você tenha acesso a uma variedade de alimentos tradicionais, como kimchi, ramen, molhos e snacks, com qualidade e  nossas opções e desfrute da culinária coreana sem sair de casa!</p>
        <div class="float-end" id="garrafa">
            <img src="img/Design sem nome (8).png" alt="" class="soju-image" />
        </div>
    </section>



    <div class="products">
        <h2>Produtos vendidos</h2>
        <div class="product-cards">
            <div class="product-card">
                <div class="fundo">
                    <img class="imgProduto" src="img/salgada.png" alt="">
                </div>
                <p class="textoProduto">Comidas salgadas</p>
            </div>
            <div class="product-card p-3">
                <div class="fundo mb-3">
                    <img class="imgProduto" src="img/doçe.png" alt="">
                </div>
                <p class="textoProduto">Comidas doces</p>
            </div>
            <div class="product-card">
                <div class="fundo">
                    <img class="imgProduto" src="img/bebidas.png" alt="">
                </div>
                <p class="textoProduto">Bebidas</p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="promo">
        <div class="promo1">
            <img src="img/cesta.jpg" alt="" class="promo-image">
        </div>
        <div class="promo2">
            <h2>Venha experimentar nossas comidas</h2>
            <p class="fonte1">COREIA FOOD</p>
            <p class="fonte2">O site das dorameiras de plantão</p>
        </div>
    </div>

</main>