@{
    ViewBag.Title = "Sobre Nós";
}

<div class="sobre-nos">
    <h2>Saiba mais sobre Nós</h2>
    <div class="sobre-nos-container">
        <div class="row perfil">
            <!-- Primeira pessoa -->

            <div class="col-3">
                <img src="~/img/anna2.jpg" alt="Ana Julia Geremias">
            </div>
            <div class="col">
                <p>Sou Ana Júlia, fundadora e CEO deste projeto! Minha paixão por comida coreana vem de muito tempo, pois sempre acreditei que a culinária tem o poder de conectar pessoas e culturas. Ao longo dos anos, fui buscando conhecimento sobre os melhores ingredientes, técnicas e sabores da cozinha coreana. Decidi unir minha experiência com a de minha amiga Lívia para criar este site, uma ferramenta que pudesse ajudar as pessoas a explorarem essa rica gastronomia e encontrarem produtos autênticos.</p>
            </div>

        </div>
        <div class="row perfil">
            <!-- Segunda pessoa -->

            <div class="col">
                <p>Sou Lívia, cofundadora e CEO do nosso projeto de comida coreana! Sempre fui fascinada pela riqueza da culinária coreana, que combina tradição, sabores únicos e técnicas culinárias incríveis. Acredito que cada prato tem sua essência e merece um preparo especial. É essa paixão que me motiva a criar experiências gastronômicas autênticas e de qualidade para os nossos clientes.</p>
            </div>
            <div class="col-4">
                <img src="~/img/livia.jpg" alt="Livia F.L.Solla">
            </div>

        </div>
    </div>
</div>

